<!DOCTYPE html>
<html lang="en">
  <title> </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
  <body class="bg-white near-black sans-serif">
  	<header class="pa3 pa4-ns">
  		<a class="link dim black b f1 f-headline-ns tc db mb3 mb4-ns" href="/">whats.updog.no</a>
  		<span class="link f4 fw6 tc db ph0 mh0">nothing dog, what's up with you?</span>
  	</header>
	<main class="flex items-center justify-center">
		<div class="w-100 db mw8 pa4">
			{% block main %}
			{% endblock %}
		</div>
	</main>
  </body>
</html> 